$colorBackground: #3A8BCD;
$colorDefaultB: #000;
$colorDefaultW: #FFF;
$color1: #4a4a4a;
$color2: #1e1e1e;
$color3: #7a7a7a;
$color4: #aaa;
$color5: #eee;
$marginLeftRight: 15px;
$marginTopBottom: 0px;
$textDecoration: none;
$textTransform: uppercase;
$transition: all 0.5s;